typing==3.10.0.2
asyncio==3.4.3
os==0.1.0
concurrent.futures==3.3.0
requests==2.31.0
re==2021.8.28
random==0.2.1
time==0.2
tqdm==4.62.3
socket==0.8.0
logging==0.5.1.2
traceback==0.1.4
functools32==3.2.3.post2
colorama==0.4.4
pyfiglet==0.8.post1
termcolor==1.1.0
aiohttp==3.7.4.post0
prettytable==2.2.0
collections-extended==2.0.1
