typing==3.7.4.3
asyncio==3.4.3
os==10.1.2
concurrent.futures==3.7.0
requests==2.31.0
re==2.2.1
random==1.19.5
time==1.1.0
tqdm==4.64.1
socket==2.1.2
logging==0.5.1.2
traceback==0.10.0
functools==3.7.4.3
colorama==0.4.6
pyfiglet==0.8.post1
termcolor==1.1.0
prettytable==2.1.0
aiohttp==3.8.5
os.path==10.1.2
